<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1KbErFu42rKn2jPumaGVaAhguhw4MWCc</string>
	<key>GCM_SENDER_ID</key>
	<string>231088823155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodLis</string>
	<key>PROJECT_ID</key>
	<string>foodlis-1f062</string>
	<key>STORAGE_BUCKET</key>
	<string>foodlis-1f062.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231088823155:ios:cf6e2d0f2eb1a34bfcc306</string>
</dict>
</plist>